# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/grinder-server/build.gradle.kts
/grinder-server/src/minecraft
/paper-server
/grinder-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/